

.js .home{
    opacity: 1; /* mudar para 0 caso queira entrar com musica */
    
}


.home.ativo{
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 1.5s;
    
}



.foto{
width: 100%;
padding-bottom: 100px;
display: flex;
align-items: center;
justify-content: center;

}

.foto img{
    width: 100%;
    max-width: 500px;


}

.home {
background-color: #FAFAFA;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: centsr;
    overflow-x: hidden;
    
    
  
    
    
}



.home::after{
    content: "";
    display: block;
    width: 100%;
    height: 178px;
    top: 0;
    left: 0;
    background-image: url("../img/flores.png");
    background-repeat: no-repeat;
    position: absolute;
    animation:  aparecer 2s ease-in-out forwards;




}



@keyframes aparecer {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 0px; /* A posição final da imagem na tela */
        opacity: 1;
    }
}

@keyframes aparecer-esq {
    0% {
        right: -200px;
        opacity: 0;
     
    }
    100% {
        right: 0px; /* A posição final da imagem na tela */
        opacity: 1;
       
    }
}


@media(max-width:900px) {
    .home::before,.home::after {
       width: 100px;
       height: 195px;
       background-image: url("../img/flores-mini.png")
       
    }

  }


.data {
    padding: 10px;
    text-align: center;
    align-self: center;
    color: #E5C5BB;  
    position: relative;
    display: flex;
    
    
}

  .container_nomes{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    position: relative;
 

  }

  .juntamente{
    display: flex;
    color: #E5C5BB;  
    gap: 25px;
 

    text-align: center;
    justify-content: space-around;
 
}

.paisnoiva span {
    font-size: 10px;
 
}

.bencao{
    color: #E5C5BB;  
    text-align: center;
 
}


  .paisnoiva{
    padding-top: 20px;
    
   
  }





  .nomes {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #E5C5BB;  
    text-align: center;

   
}

.container_nomes::after{
    content: "";
    width:100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    position: absolute;
}

@media (max-width: 970px) {
    .container_nomes::after {
        display: none;
    }
}


@media(max-width:555px) {
    .nomes{
        display: flex;
        flex-direction: column;
        align-items: center;
   
    }

    .frase {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1rem !important;
    }

    .aspas{
        width: 20px !important;
      
    }
  }

.aspas{
    width: 48px;
}

.aspas:last-child{
    transform: rotate(180deg);
    
}

.abrir{
    display: flex;
    justify-content: end; 
}

.ondas{
position: relative;


}






.nomes_button{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}



.hora{
    text-align: center;
    

}

.hora p:first-child {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #303525 ;
    
}

.hora p:last-child {
    color: white;
  background-color: #26ABB4;
}

.links {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #606060;
}

.flex {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex p {
    padding-top: 10px;
}



.contador{
    width: 305px;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/arco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    top: -130px;

   
}

.contador-container{


    width: 100%;
    padding-right: 50px;
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    

}

.contador-container .chegou{
    display: none;
    
    
}


.contador p{
    margin-top: 10px;
    color:  white;

    
   
}

.container_tempo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    background-color: #E3C5BA;
   
    

  
}




.tempo{
  color:  white;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}


#grandeDia{
    color: white;
    display: none;
}

#grandeDia.ativo{
    display: block;
}

.desativado{
    display: none;
}


@media(max-width:555px) {
    .contador{
        height: 312px;
        background-size: contain;
        top: -50px;

    }

    .container_tempo{
        gap: 10px;
    }

    .contador-container{
        padding-bottom: 40px;
      
  
    }


    .tempo span{
        font-size: 1.2rem !important;
       
    }
  }



.slide_casal{
    padding-top: 50px;
    width: 100%;
}

.slide_casal img{
display: block;
width: 100%;
}

.vestimenta{
    text-align: center;
    max-width: 40ch;
    position: relative;
    padding-top: 100px;
}


.vestimenta ::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    top: 0;
    right: -20px;
    background-image: url("../img/flor.svg");
    position: absolute;
    opacity: 0.01;
}



.vesti ::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    top: 0;
    left: -20px;
    transform: rotate(180deg);
  
    background-image: url("../img/flor.svg");
    position: absolute;
    opacity: 0.01;
}


.segundo_p, .terceiro_p{
    margin-top: 40px;
    
}



.hotel{
    padding-bottom: 50px!important;
}



.paletas{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
   

}

.paletas span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
}


.paleta-1{
    background-color: #B4BEB3;
}
.paleta-2{
    background-color: #AEBBA2;
}

.paleta-3{
    background-color: #99B4A3;
}

.paleta-4{
    background-color: #95B198;
}
.paleta-5{
    background-color: #62A08B;
}


h2.vestimenta-convidados{

    padding-top: 40px;
}

.esporte-fino{
    color: #1D949C;
    font-weight: bolder;
    padding-bottom: 5px;
}

